:root {
  --color-primary: #113604;
  --color-accent: #B5BAB4;
  --color-accent-two: #A0761F;
  --color-navy: #091F5A;
  --color-crimson: #3E0707;
  --color-link: #36AD0C;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Merriweather", serif;
}

html {
  font-family: var(--font-primary);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

mark {
  background-color: var(--color-link);
}

h1 {
  font-weight: bold;
  color: var(--color-primary);
}

h2 {
  font-weight: bold;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h3 {
  color: var(--color-primary);
  font-weight: bold;
}

h4 {
  color: var(--color-primary);
  font-weight: bold;
}

h5 {
  color: var(--color-primary);
  font-weight: normal;
}

h6 {
  color: var(--color-primary);
  font-weight: normal;
}

li {
  list-style-type: none;
  font-weight: bold;
  color: var(--color-primary);
}

dl, dt {
  list-style-type: none;
  font-weight: bold;
  color: var(--color-primary);
}

dl, dd {
  font-weight: normal;
}

mark {
  background-color: var(--color-accent);
}

cite {
  font-style: italic;
  color: var(--color-primary);
}

.btn {
  border-radius: 30px;
  border: none;
  color: var(--color-primary);
  background-color: #fff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .7em;
  padding-bottom: .7em;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: all .3s ease 0s;
}

.btn:hover {
  background-color: var(--color-accent-two);
  box-shadow: 0 15px 20px var(--color-accent);
  transform: translateY(-7px);
}
