:root {
  --color-primary: #113604;
  --color-accent: #B5BAB4;
  --color-accent: #A0761F;
  --color-navy: #091F5A;
  --color-crimson: #3E0707;
  --color-link: #36AD0C;

  --font-primary: "Roboto", sans-serif;
}

html {
  font-family: var(--font-primary);
}

a {
  color: var(--color-link);
}
