.btn {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-accent);
}

.btn:hover {
  background-color:var(--color-primary);
  border-color: var(--color-accent);
}
