.btn {
  border-radius: 30px;
  border: none;
  color: var(--color-primary);
  background-color: #fff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .7em;
  padding-bottom: .7em;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: all .3s ease 0s;
}

.btn:hover {
  background-color: var(--color-accent-two);
  box-shadow: 0 15px 20px var(--color-accent);
  transform: translateY(-7px);
}

.btn-ghost {
  border-radius: 30px;
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
  transition: all .3s ease 0s;
}

.btn-ghost:hover {
  color: #fff;
  box-shadow: 0 15px 20px var(--color-accent);
  transform: translateY(-7px);
}

.btn-light {
  background-color: var(--color-accent);
  border-color: var(--color-primary);
  color: var(--color-primary);
  transition: all .3s ease 0s;
  border-radius: 30px;
}

.btn-light:hover {
  color: #fff;
  background-color: var(--color-primary);
  box-shadow: 0 15px 20px var(--color-accent);
  transform: translateY(-7px);
}
