img {
  color: #fff;
}

header li a {
  color: #fff;
}

header li a:hover {
  transform: translateY(-7px);
  transition: all .4s ease 0s;
  border-bottom: 2px solid #fff;
}

header i {
  color: #fff;
}

header i:hover {
  transform: translateY(-2px);
  transition: all .3s ease 0s;
}
