.hero-banner {
  background-image: url("../images/home-banner.jpg");
  background-repeat: none;
  color: #fff;
}

.hero-banner h1 {
  color: #fff;
}

.coffee {
  margin-bottom: -70px;
  margin-left: -40px;
  transform: scale(1.29);
}

.text-prod {
  color: #fff;
}

.text-prod h1 {
  color: #fff;
}

.news {
  color: #fff;
  top: 30px;
}

.news h1 {
  color: #fff;
}

.news button {
  background-color: #fff;
  color: var(--color-primary);
}

.news button:hover {
  color: #fff;
  background-color: var(--color-accent-two);
}

label {
  visibility: hidden;
}

input#text {
  border: none;
  color: var(--color-accent);
  opacity: 0.8;
}

input#submit {
  background-color: #fff;
}

.sustainability {
  background-color: var(--color-primary);
  color: #fff;
}

.sustainability h1, .sustainability h6 {
  color: #fff;
}

.details {
  background-color: var(--color-primary);
  color: #fff;
}

.details h1 {
  color: #fff;
}

.details h3 {
  color: #fff;
}

.mockup {
  top: -30px;
}

.checkout {
  background-color: var(--color-primary);
  color: #fff;
}

.checkout h3, h4, h5 {
  color: #fff;
}

.subtotal {
  border-top: 2px solid #fff;
}

.total {
  border-top: 2px solid #fff;
}

.check {
  height: 120px;
  width: 90px;
}

.sust {
  transform: translate(0, 40px)
}
